body, html {
    height: 100%;
    
}

.navbar {
    overflow: auto;
}
  
#wrapper {
    background-image: url("backgroundimage.png");
  
    overflow: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column {
    background-color: white;
}

.card-body {
    background-color: white
}

#carousel {
    background-color: teal;
}

#whycoding {
    background-color: teal;
    color: white;
}

.carousel-item {
    font-size: 18px;
}

.carousel-caption {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .carouselimage {
        width: 75px;
    }
}
@media only screen and (min-width: 600px) {
    .carouselimage {
        width: 100px;
    }
}

@media only screen and (min-width: 650px) {
    .carouselimage {
        width: 200px;
    }
}
@media only screen and (max-width: 850px) {
    .carousel-item {
        font-size: 16px;
    }
}

